html {
    width: 100%;
    height: 100%;
}

.bg-img {
    width: 100vw;
    height: 9vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content {
    margin-top: 10px;
}

.task-card {
    padding: 10px;
    border-radius: 5px;
  }
  
  .color-picker {
    display: flex;
    flex-wrap: wrap;
  }
  
  .color-picker input[type="color"] {
    margin: 5px;
    border-radius: 10px;
  }
  